<span class="trait-text">{{purchased.trait.name}}</span>
<span class="trait-text">{{purchased.trait.abbrev}}</span>
<span class="trait-text">{{purchased.trait.description}}</span>
<span class="trait-text">{{purchased.pointsSpent}}</span>
<button (click)="decrement()" class="points-adjuster" mat-icon-button color="primary">
  <mat-icon aria-label="Decrement">remove</mat-icon>
</button>
<button (click)="increment()" class="points-adjuster" mat-icon-button color="primary">
  <mat-icon aria-label="Increment">add</mat-icon>
</button>