<table mat-table [dataSource]="traits" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <ng-container *ngFor="let col of dataColumns" matColumnDef={{col}}>
      <mat-header-cell *matHeaderCellDef>{{col}}</mat-header-cell>
      <mat-cell *matCellDef="let traitCell">{{traitCell[col]}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="traitPurchaserColumn">
      <mat-header-cell *matHeaderCellDef>Points</mat-header-cell>
      <mat-cell *matCellDef="let traitCell">
        <app-character-trait-purchaser [traitName]="traitCell.name"></app-character-trait-purchaser>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="effectiveLevelColumn">
      <mat-header-cell *matHeaderCellDef>Effective Level</mat-header-cell>
      <mat-cell *matCellDef="let purchasedCell">
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="headerColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: headerColumns;"></mat-row>
  </table>
  
  